header {
    background-color: black;
    height: 6%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;    
}

a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 30%;
    padding-left: 4%;
}

img {
    width: 43%;
    height: 43%;
    float: right;
    padding: 4%;
}

div {
    padding: 8% 4%;
}



p {
    width: 45%;
    font-size: 10px;
    float: left;
}

footer {
    height: 25px;
    width: 100%;
    background-color: darkslategray;
    clear: both;
    margin: 0;
}

body {
    margin: 0px;
}